{% extends "base.html" %}
{% block main %}
  {% block flash %}
    {% if messages %}
        <div>
          <ul class="list-group">
            {% for category, message in messages %}
              <li class="list-group-item list-group-item-{{ category }}">{{ kv_dict.flash[message] }}</li>
            {% endfor %}
          </ul>
        </div>
    {% endif %}
  {% endblock %}
  <div class="container-lg my-5 py-5">
    <div class="row">
      <div class="col-12 col-md-10 col-lg-6 mx-auto rounded border bg-light-subtle p-5">
        <h1>{{ kv_dict.title }}</h1>
        <p>{{ kv_dict.description }}</p>
        
	<form class="d-flex justify-content-center" action="{{ url_for('get_urls') }}" method="post" required="">
          <label for="url" class="visually-hidden">
            url
          </label>
          <input class="form-control" id="url" name="url" value="" type="text" placeholder="https://example.com">
          <input class="btn btn-outline-info btn-dark ms-3" type="submit" value="{{ kv_dict.button['btn-check'] }}">
        </form>
      </div>
    </div>
  </div>
{% endblock %}
