{% extends "index.html" %}
{% block main %}
  {% block flash %}{{ super() }}{% endblock %}
  <div class="container py-5">
    {% set table = kv_dict.table %}

    <h1>{{ kv_dict.url }}</h1>
    <table class="table table-dark table-striped table-bordered" data-test="url">
      <tbody>
        <tr>
          <th>{{ table.id }}</th>
          <td>{{ url_data.id }}</td>
        </tr>
        <tr>
          <th>{{ table.name }}</th>
          <td>{{ url_data.name }}</td>
        </tr>
        <tr>
          <th>{{ table.created_at }}</th>
          <td>{{ url_data.created_at }}</td>
        </tr>
      </tbody>
    </table>

    <h1 class="pt-5">{{ kv_dict.checks }}</h1>
    <form action="{{ url_for('post_url_id_checks', url_id=url_data.id) }}" method="post">
      <label class="visually-hidden" for="btn-start-check">start check</label>
      <input class="btn btn-outline-info btn-dark my-2" id="btn-start-check" type="submit" value="{{ kv_dict.button['btn-start-check'] }}">
    </form>
    <table class="table table-dark table-striped table-bordered" data-test="checks">
      <thead>
        <th>{{ table.id }}</th>
        <th>{{ table.code }}</th>
        <th>{{ table.h1 }}</th>
        <th>{{ table.title }}</th>
        <th>{{ table.description }}</th>
        <th>{{ table.created_at }}</th>
      </thead>
      {% if url_checks %}
        {% for row in url_checks %}
          <tbody>
            <td>{{ row.id }}</th>
            <td>{{ row.status_code }}</th>
            <td>{{ row.h1 or "" }}</th>
            <td>{{ row.title or "" }}</th>
            <td>{{ row.description or "" }}</th>
            <td>{{ row.created_at }}</th>
          </tbody>
        {% endfor %}
      {% endif %}
    </table>
  </div>
{% endblock %}
