{% extends "base.html" %}
{% block main %}
  <div class="container py-5">
    {% set table = kv_dict.table %}

    <h1>{{ kv_dict.urls }}</h1>
    <table class="table table-dark table-striped table-bordered" data-test="urls">
      <thead>
        <th>{{ table.id }}</th>
        <th>{{ table.name }}</th>
        <th>{{ table.updated_at }}</th>
        <th>{{ table.code }}</th>
      </thead>
      {% if table_data %}
        {% for row in table_data %} <!-- Pagenation could be required later -->
	  <tbody>
     	    <td>{{ row.id }}</td>
	    <td><a href="{{ url_for('get_url_id', url_id=row.id) }}">{{ row.name }}</a></td>
     	    <td>{{ row.created_at or "" }}</td>
     	    <td>{{ row.status_code or "" }}</td>
     	  </tbody>
     	{% endfor %}
      {% endif %}
     </table>
  
  </div>
{% endblock %}
